*~
*.lock
*.DS_Store
*.class
*.project
*.classpath
*.settings
*.pyc
*\#
*.\#*

# CMake stuff that should be generated, not in the repo!
*/CMakeFiles
*/CMakeFiles/*
*/CMakeCache.txt
*/cmake_install.cmake
cpp/Makefile
llcpp/Makefile
llcpp-optimized/Makefile
newcpp/Makefile

# executables should not be checked in
cpp/solver
cpp/driver
newcpp/newsolver
llcpp/llsolver