*.~
*.lock
*.DS_Store
*.class
*.project
*.classpath
*.settings

# CMake stuff that should be generated, not in the repo!
*/CMakeFiles
*/CMakeFiles/*
*/CMakeCache.txt
*/Makefile
*/cmake_install.cmake

# executables should not be checked in
cpp/solver